<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_interfaceClasses" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/IM" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_interfaceClasses" contract="interfaceClasses"
                name="BasicHttpBinding_interfaceClasses" />
        </client>
    </system.serviceModel>
</configuration>